html {
  font-family: Helvetica;
}

h1 {
  background-image: url("../images/pattern.jpg");
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: lightCoral;
}

.blue {
  background-color: skyBlue;
}

p a {
  font-weight: bold;
  color: blue;
}
